server:
  port: 8086

spring:
  application:
    name: merchant-order-service

  datasource:
    url: jdbc:postgresql://localhost:5432/merchant_order_db
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update

  kafka:
    bootstrap-servers: localhost:9092
