server:
  port: 8089

spring:
  application:
    name: audit-service

  datasource:
    url: jdbc:postgresql://localhost:5432/audit_db
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update

  kafka:
    bootstrap-servers: localhost:9092
