server:
  port: 8085

spring:
  application:
    name: billing-service

  datasource:
    url: jdbc:postgresql://localhost:5432/billing_db
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update

  kafka:
    bootstrap-servers: localhost:9092
